*{
        margin: 0;
        padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');

header{
      margin: 0;
      padding: 0;  
}

.cot{
        background: #d71e28;
        border-bottom: 6px solid #ffcd41;
        padding:  0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: 'Merriweather', serif;
        align-items: center;
}
nav{
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: right;
        margin-right: 70px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0;
}
nav img{
        /* border: 3px solid black; */
        margin-bottom: 8px;
}
.key{
     display: flex;
     justify-content: space-between;   
        
        align-items: center;
        /* border: 3px solid white; */
        width: 13%;
}
.cot nav ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0;
}
.cot nav ul li{
        list-style: none;
        color: white;
        font-size: 23px;
        font-weight: 300;
        

}
.cot li a{
        text-decoration: none;
        color: white;
        font-family: 'Merriweather', serif;
}
.mobile-burger{
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5px;
   }
.menu{
      height: 2.5px;
      background: white;
      width: 100%;
      position: relative;
     
   }
   .menu::before{
      content: "";
      height: 2px;
      background: rgba(248, 247, 247, 0.6);
      width: 100%;
      position: absolute;
      transform: translateY(6px);
   }
   .menu::after{
      content: "";
      height: 2px;
      background: rgba(248, 247, 247, 0.6);
      width: 100%;
      position: absolute;
      transform: translateY(-6px);
   }
  .showburger .menu{
   background: transparent;
}
  .showburger .menu::before{
   transform: rotate(-45deg);
   background: white;
  }
  .showburger .menu::after{
   transform: rotate(45deg);
   background: white;
  }
  .mobile-links{
      transform: translateX(100%);
      position: fixed;
      right: 0;
      top: 53px;
      width: 110%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transition: 0.9s ease-in-out;
      background: rgb(255, 255, 255, 7);
}
.show-mobile-links{
      transform: translateX(90px);
      position: absolute;
}
.mobile{
      display: none;
}
.mobile-links ul{
      list-style: none;
      width: 78%;
}
.mobile-links li{
      display: flex;
      border-bottom: 0.3px solid black;
      text-align: left;
      font-size: 25px;
      font-weight: 600;
      background: white;
      color: black;
      font-family: 'Merriweather', serif;

}
.mobile-links li:hover{
      color: black;
      background: #fcc60a;
}
.mobile-links li a:hover{
      color: white;
      background: #fcc60a;
}

.mobile-links li a{
      color: black;
      text-decoration: none;
      width: 100%;
      padding: 14px 0;
      margin-left: 15px;
      font-family: 'Merriweather', serif;
}
.search  input{
        padding: 10px 5px;
        border-radius: 20px;
        font-size: 20px;
        width: 70%;
        background: white;
        float: left;
        border: transparent;
        outline: none;
        font-weight: lighter;
        font-family: 'Merriweather', serif;
}
.search button{
        width: 30%;
        float: left;
        border: transparent;
        background: white;
        cursor: pointer;
        border-radius: 20px;


}
.search{
        width: 20%;
        text-align: center;
        padding: 0;
        background: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
}
.search i{
        font-size: 35px;
        float: right;
        margin-right: 15px;
        color: rgb(114, 111, 111);         
}
.logo h1{
font-size: 35px;
font-family: 'Merriweather', serif;
text-transform: uppercase;
color: white;
margin-top: 10px;
margin-left: 120px;
margin-bottom: 5px;
}
main{
          padding: 50px 150px;
          background: url(./tree-gdf8a951f3_1920\ \(1\).jpg);
          /* height: 400px; */
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
}
.verify{
          margin-top: 40px;
          background: white;
          /* padding: 20px  100px ; */
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          box-shadow: 0 0 16px 0 rgb(59, 51, 49,  0.5);
          text-align: center;
}

#myfile{
          /* margin-top: 60px; */
          border: 2px solid black;
          padding: 20px;
          font-size: larger;
          margin-bottom: 60px;
          background: red;
          border-radius: 10px;
          /* color: white; */
          /* margin-left: 100px; */
}
#submit{
          margin-top: 40px;
          /* border: 3px solid black; */
          padding: 20px;
          font-size: x-large;
          background: #d71e28;
          color: white;
          /* margin-left: 100px; */
          border-radius: 20px;
          padding: 20px 40px;
          cursor: pointer;
          text-align: center;
          margin-bottom: 40px;
          border: 2px solid #e2dede;

}
#submit:hover{
        background: #e2dede;
        color:#b5adad;
text-decoration: underline;
transition: 1s ease-in-out;
}
h2{
          color: #d71e28;
          margin-top: 30px;
          margin-bottom: 20px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
}
label{
          
          font-size: x-large;
          font-weight: 600;
          margin-right: 250px;
}









footer{
          padding: 10px;
          background: #f4f0ed;
}
.foot-1, .foot-2{
          padding: 20px;
          margin: 10px 0 20px 0;
          
}
.foot-1 ul{
          /* border: 3px solid red; */
          display: flex;
          width: 80%;
          flex-wrap: wrap;
          justify-content: space-between;
}
.foot-2 ul{
          /* border: 3px solid blue; */
          display: flex;
          justify-content: space-between;
          width: 65%;
}
.foot-1 li{
          list-style: none;
          border-right: 1px solid black;
          padding: 2px 20px 2px 0;
}
.foot-2 ul :last-child{
          border-right: none;
}
.foot-2 li a{
          font-size: 20px;
          text-decoration: none;
          color: #000000;

}
.foot-1 ul li a{
          font-size: 20px;
          text-decoration: none;
          color: #000000;
}
.foot-2 li a:hover{
          text-decoration: underline;
}
.foot-1 li a:hover{
          text-decoration: underline;

}
.foot-2 li{
          border-right: 1px solid black;
          list-style: none;
          padding: 2px 20px 2px 0;

}
footer p{
          padding: 10px;
          font-size: 20px;
}

