@media only screen and (max-width: 800px){
  *{
          margin: 0;
          padding: 0;
  }
  
  
          nav{
                    display: none;

          }

header{
          margin: 0;
          /* display: flex; */
          /* width: 100%; */
}
main{
          padding: 0px;
          background: white;
          overflow: hidden;

}
.mobile{
        display: flex;
}
.cot{
          /* display: flex; */
          /* width: 100%; */
          padding: 5px 0;
}
.logo h1{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: x-large;
        text-align: center;
        margin-left: 100px;
        /* border: 3px solid black; */
}
.search {
        width: 100%;
        border-radius: 0;
        border-bottom: 0.3px solid black;
        /* border: 2px solid red; */
}
.verify{
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
width: 100%;
/* padding: 10px; */
margin-top: 0;
border-radius: 0;
}
.verify h2{
        /* border: 3px solid black; */
        margin-top: 0;
        margin-bottom: 10px;
        /* width: 100%; */
}
.verify input{
        margin-left: 10px;
        width: 90%;
        margin-bottom: 20px;
        box-shadow: none;
}
form{
          margin-left: 0;
}

.text-me{
          /* border: 3px solid black; */
          /* width: 100%; */
          padding: 10px;
}
.text-me p{
        font-size: 25px;
        width: 100%;
        margin-bottom: 0px;
}
.check{
          margin-left: 0px;
          display: flex;
          /* border: 3px solid black; */
          width: 100%;
          justify-content: space-between;
          flex-direction: row;
          margin-bottom: 20px;
          padding: 0 10px;
}
.check input{
        /* border: 2px solid red; */
        margin-left: -40%;
          font-size: large;
        top: 32%;
        position: absolute;
          /* width: 10%; */
          /* height: 20px; */
          /* margin: 0; */
          
}
.username{

        /* border: 2px solid black; */
        text-align: left;
        padding-left: 40px;
        width: 100%;
}
.btn{
          margin-top: 0;
          text-align: center;
          margin-bottom: 0;
          /* width: 30%; */
          /* border: 3px solid black; */
}
.btn-1{
          font-size: large;
          padding: 10px 20px;
          width: 50%;
}
.forget{
        margin-top: 0;
        /* border: 3px solid black; */
        padding: 10px;
        background: white;
        border-bottom: 0;
}
.icon{
          transform: rotate(-180deg);
          margin-left: -40px;

}
.note{
          padding: 25px 15px;
          margin-top: 0;
          background: white;
          border-radius: 0;
}
.note p{
        margin-top: 40px;
        font-size: large;
}
.content{
          padding: 10px;
          display: none;
          flex-direction: column;
          flex-wrap: no-wrap;
}
.content h4{
    display: none;
}
.content3 p{
          display: inline;
          margin: 10px;
          font-size: 20px;
          font-weight: 600;
}
.content3 li{
        /* border: 3px solid black; */
        font-size: 20px;
        font-weight: 600;
        /* word-spacing: 3px; */
        list-style: square;
        margin-left: 20px;
        /* word-wrap: normal; */
        word-wrap: none;
        word-break: keep-all;
}
.content3{
        padding: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: no-wrap;
        border: 1px solid rgb(172, 169, 169);

}
.see{
        display: flex;
        /* align-items: center; */
}
.see li{
        width: fit-content;
        padding-top: 5px;
}
.see p{
        margin-left: -10px;
}
#sub{

          margin-left: 50px;
          margin-bottom: 20px;
          margin-top: 20px;
}
#ssn{
          margin-top: 10px;
          font-size: large;

}
.icon{
          /* border: 3px solid black; */
          /* font-size: larger; */
          margin-left: -40px;
}
.contents {
          padding: 20px;
          width: 88%;
          margin: 0;
}
.contents h2{
          margin-top: 20px;
          margin-bottom: 30px;
}
.contents input{
          /* margin-top: 40px; */
          margin-left: 30px;
}
#c-y{
          margin-left: 35px;
}
#e-y1{
          margin-left: 35px;
}
#city-1{
          margin-left: 35px;
}
#states{
          margin-left: 35px;
}
#state-list{
          margin-left: 35px;
          width: 30%;
}

.country{
          margin-left: 160px;
}
#zipcode{
          margin-left: 180px;
          /* margin-top: -100px; */
}
#myfile{
          margin-top: 10px;
          font-size: large;
          width: 70%;
}
#labels{
          width: 100%;
          /* border: 2px solid black; */
          font-size: large;
          margin-right: 0;
          margin-bottom: 30px;
}










.foot{
        display: flex;
        
}

.foot-1, .foot-2{
          padding: 10px;
          margin: 10px 0 10px 0;
          
          
}
.foot-1 ul{
          /* border: 3px solid red; */
          display: flex;
          width: 100%;
          /* flex-wrap: wrap; */
          justify-content: space-between;
          /* flex-direction: column; */
}
.foot-2 ul{
          width: 90%;
          display: flex;
          flex-wrap: wrap;
}
.foot-1 li, .foot-2 li{
        border: none;
        padding: 10px 0;
        font-size: 18px;
}

@media only screen and (max-width: 400px){
.email-card{
padding: 0;
}
.email-card h1{
        padding: 10px;
}
.email-card .btn{
padding-bottom: 20px;
}
.check{
        /* border: 3px solid red; */
        width: 100%;
        
}
.check input{
        margin-left: -160px;
        top: 50%;

}
.username{
        margin-left: -10px;
        /* border: 3px solid black; */
        width: 100%;
}
.mobile-links ul{
        width: 79%;
}



}











          
}